<div class="modal_container" data-modal="register">
    <div class="modal">
        <button class="modal-close" data-modal="register">X</button>
        <p>Kullanıcı ekleme</p>
        <%- include('./register-from.ejs',{
            redirectUrl:'index',
            modalName:'register'
        }) %>
    </div>
</div>
